* {
	box-sizing: border-box;
    }

body {
	   background-image: url("../images/congrats1.jpg");
	   repeat: no-repeat;
       background-size: cover;
       min-height: 100%;
	   font-family: 'Georgia', Times, Times New Roman, serif;
	   font-size: 16px;
	   line-height: 20px;
	   margin: 1% auto;
	}

h1  {
	    font-size: 42px;
	    font-family: 'Georgia', Times, Times new Roman, serif;
	    margin: 1% auto;
	    color: red;
	    line-height: 50px;
	    float: left;
	    position:;
    }

h2, h3  {
	    font-size: 40px;
	    font-family: 'Georgia', Times, Times new Roman, serif;
	    margin: 1% auto;
	    line-height: 50px;
	    color: red;
	    clear: both;
	    float: left;
	    position: relative;
    }


span  {
	    font-size: 42px;
	    line-height: 40px;
	    
	  }

ul {
	clear: both;
	float: left;
	position: relative;
    font-size: 32px;
	line-height: 20px;
	color: red;
    display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	border: none;
	font: sans-serif;
	color: rgba(255,255,255,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

h1, h2 {

	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	border: none;
	font: sans-serif;
	color: rgba(255,255,255,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

input[type=submit]  {
	width: 30%;
	height: 60px;
	clear:both;
	float: left;
	position: relative;
	display: inline-block;
	padding: 10 10 10 10;
	cursor: pointer;
	background-color: white; 
    color: red; 
    border: 2px solid #f44336;
    border-radius: 4px;
    border: 2px solid orange;
	font-size: 26px;
	line-height: 35px;
	margin: 3% auto;
}
	
	
	
	
